body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ADD8E6;
}

header {
    /* background-color: #3498db; */
    background-color: rgb(0, 0,30);
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#searchInput {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    
}

#searchButton {
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}